@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {--font-text: Montserrat;}

.mini-sticker {
  float: left !important;
  margin: 0px 15px 0px 20px !important;

  width: 200px !important;
  min-height: 200px !important;

  padding: 20px !important;
  border-radius: 2px;
  transform: rotate(-1.5deg);

  background-color: hsl(141, 100%, 88%) !important;
  color: hsl(53, 40%, 35%) !important;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.15);

  font-family: var(--font-text);
  font-size: 0.95em;
  line-height: 1.4;

  position: relative;
  z-index: 5;
  box-sizing: border-box;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1) !important;
}

.mini-sticker::before {
  position: absolute;
  top: -12px;
  left: 30%;
  width: 55px;
  height: 22px;

  background-color: hsla(0, 0%, 100%, 0.4);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  transform: rotate(-2deg);
  backdrop-filter: blur(1px);
  border: 1px solid hsla(0, 0%, 100%, 0.2);
}

.mini-sticker::after {
position: absolute;
top: -20px;
left: 80%;
  width: 55px;
  height: 22px;
}

.mini-sticker:hover {
  transform: rotate(0deg) scale(1.05) !important;
  box-shadow: 5px 8px 20px hsla(161, 98%, 34%, 0.442) !important;
  z-index: 10;
  cursor: help;
}
