@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
--cool-color: hsla(160, 77%, 36%, 0.522);
}
html,body {
  scroll-behavior: smooth;
  margin: 0%;
  padding: 0%;
}

h1{
  text-shadow: 20%;
  font-family: Montserrat;
  font-size: 2.5rem;
  text-align: center;
  background-color: hsla(271, 76%, 53%, 0.463);
  margin-top: 0%;
  color: hsl(0, 0%, 100%);}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
  background: hsla(176, 64%, 45%, 0.398);
  color: var(--cool-color);
  padding: 20px;
}
